*{
  font-family: "Pixelify Sans", sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .icon {
    margin: 5px;
    width: 50px;
  }
  #backgroundAudio{
    display: none;
  }
  #backgroundImage {
    width: 100%;
    height: 100%;
    background-image: url('img/end.gif');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #flashEffect {
    width: 100vw;
    height: 100vw;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    border-radius: 50%; 
    opacity: 0;
    pointer-events: none; 
  }
  
  .flash {
    animation: flashAnimation 6s forwards;
  }
  
  @keyframes flashAnimation {
    0% {
      opacity: 1; 
      transform: translate(-50%, -50%) scale(0.1); 
    }
    20% {
      opacity: 1; 
      transform: translate(-50%, -50%) scale(10); 
      animation-timing-function: steps(1, end);
    }
    50% {
      opacity: 1; 
      transform: translate(-50%, -50%) scale(10); 
    }
    70% {
      opacity: 1; 
      transform: translate(-50%, -50%) scale(5);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1); 
    }
  }
  

header {
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding:  0px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: #060000;
  border-bottom: 3px solid rgb(11, 132, 5);
}
/* GRADIEND */
.ap {
position: fixed;
right: 0;
bottom: 0;
left: 0;
height: 40px;
margin: auto;
font-family: Arial, sans-serif;
font-size: 14px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color: #333;
background: rgb(0, 0, 0);
border-top: 2px solid rgb(11, 132, 5);
z-index: 9999;
}  
/*END*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at top left, #334455 0%, #112233 100%);
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 100%;
  left: 50%; translate: -50% 0;
  width: 600px;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 60s credits linear infinite;
}

.movie {
  margin-bottom: 50px;
  font-size: 50px;
}

.job {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 25px;
}

.name {
  top: 20px;
  margin-bottom: 70px;
  font-size: 20px;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}


